section
  header.hero-unit
    p
    p 
      span Hey! I'm 
      b François 
      span and I'm a 
      b freelance web developer 
      span based in 
      b Barcelona
      span . 
    p My special is combo 
      a(href='/#/assets/nodejs') nodejs
      span  
      a(href='/#/assets/mongodb') mongodb
      span  
      a(href='/#/assets/angular') angular
      span  -- but also a 
          a(href='/#/assets') bunch of other stuff
      span . 
    //
      p I am 
        a(href='/#/hire-me') free for hire
        span .
  
  //
    section.span12
      article.span5
        header
          h3 Assets
          p Find out if I know the tools your project needs.
        form
          h4 Quick search
          input(type="text", placeholder="Asset (ie, Angular, MongoDB)")
      
      article.span6
        header
          h3 Projects
          p Checkout the projects I have collaborated to.
        form
          div
            label Role: 
            select
              option All
              option Developer
              option Designer
              option Project Manager
              option CTO
          div
            label Technology/Tool
            input(type="text", placeholder="Asset (ie, Node, Jira)")
          div
            button.btn Go