section.tab-pane#home.active
  header.hero-unit
    p
    p Hey! I'm François and I am a freelance web developer based in Barcelona.
    p My special is combo 
      a(href='/#/assets/nodejs') nodejs
      span  
      a(href='/#/assets/mongodb') mongodb
      span  
      a(href='/#/assets/angular') angular
      span  -- but also a 
          a(href='/#/assets') bunch of other stuff
      span . 
    //
      p I am 
        a(href='/#/hire-me') free for hire
        span . 