!!! 5
meta(charset='utf-8')

title(data-ng-bind='"/francois/ " + $state.current.name') /francois/

meta(name='viewport', content='width=device-width, initial-scale=1.0')

link(rel='stylesheet', href='/bower_components/bootstrap/docs/assets/css/bootstrap.css')
link(rel='stylesheet', href='/bower_components/bootstrap/docs/assets/css/bootstrap-responsive.css')
link(rel='stylesheet', href='/css/main.css')

// Navigation bar
section.navbar.navbar-inverse.container
  div.navbar-inner
    div.container
      a.btn.btn-navbar( data-toggle='collapse', 
                        data-target='.nav-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href='/') ~francois/{{$state.current.name}}
      // Navigation menu
      div.nav-collapse
        ul.nav
          li(data-ng-class="{ active: $state.includes('assets') }")
            a(href='/#/assets') assets
          li.divider-vertical
          li(data-ng-class="{ active: $state.includes('projects') }")
            a(href='/#/projects') projects
          li.divider-vertical
        //
          ul.nav.pull-right
            li
              button.btn.btn-info(data-ng-click="goTo('hire-me')") hire me!

// Main content
section.container
  section.tab-content
    section.tab-pane#home.active
      div(  data-ui-view='page', 
            data-ng-animate='{enter:"fade-enter"}')
        div.progress.progress-striped.active
          div.bar(style='width:40%')

// footer
footer.container
  hr
  p.muted version #{about.version} | build 2 | built with
    a(href='#') nodejs
    a(href='#') express
    a(href='#') jade
    a(href='#') bower
    a(href='#') requirejs
    a(href='#') angular
    a(href='#') bootstrap

// Bootstrap error modal
section.modal.hide.fade#modal-error
  div.modal-header
    button.close(  type='button', data-dismiss='modal', aria-hidden='true') &times;
    h3 Oops!
  div.modal-body
    p An error occured!
  div.modal-footer
    a.btn(href='#',  data-dismiss='modal') Close

// Le Javascript
script(data-main='/app/boot', src='/bower_components/requirejs/require.js')

//
  pre
      | $state = {{$state.current.name}}
      | $stateParams = {{$stateParams}}