section.tab-pane#home.active
  header.hero-unit
    h1 Projects
    p
  table.table.table-striped.table-hover
    thead
        tr
            th Project
            td Elevator pitch
            td Role
    tbody
      tr(data-ng-repeat="(name, project) in projects")
        td
            a(href="/#/projects/{{name}}", data-ng-bind="name")
        td(data-ng-bind="project.about")
        td(data-ng-bind="project.role")